.circleci
client
db
node_modules
public/dist/bundle.js
server
spec
.eslintrc.js
Dockerfile
docker-compose
oldDockerfile
.git
.gitignore
babel.config.js
jest.config.js
package-lock.json
package.json
README.md
webpack.config.js
.vscode